
<div class="list-group" *ngFor="let estados of dataestado let a = index;">
    <button type="button" class="list-group-item list-group-item-action active">
        Fecha Estado
    </button>
    <button type="button" class="list-group-item list-group-item-action">
        {{ dataestado[a].fecha }}
    </button>
    <button type="button" class="list-group-item list-group-item-action active">
        Estado Solicitud
    </button>
    <button type="button" class="list-group-item list-group-item-action">
        {{ dataestado[a].estado }}
    </button>
</div>